<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <a href="adminview/create">Ajouter un film</a>
    <a href="/">Revenir au site</a>
    <p id="nbFilmsFacile">Nombre de films difficulté 'facile' : {{nbFilmsFacile}}</p>
    <p id="nbFilmsNormale">Nombre de films difficulté 'normale' : {{nbFilmsNormale}}</p>
    <p id="nbFilmsDifficile">Nombre de films difficulté 'difficile' : {{nbFilmsDifficile}}</p>
    <br>
    <br>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Titre du film</th>
                <th>Url de l'Image</th>
                <th>Description</th>
                <th>Difficulté</th>
            </tr>
        </thead> 
        <tbody>
            {% for film in films %}
            <tr>
                <td><a href="adminview/edit/{{film.get_id_film()}}">{{film.get_id_film()}}</a></td>
                <td>{{film.get_nom()}}</td>
                <td>{{film.get_image()}}</td>
                <td>{{film.get_description()}}</td>
                <td>{{film.get_difficulte()}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>